<div class="container">
    <div class="row">

{{#each myBlogPosts as |myblogpost|}}
{{> dashboardRender}}
{{/each}}
<div class="d-grid col-2 mx-auto">
            <button class="btn" id="new-post-btn" type="button">+ New Post</button>
        </div>
    </div>
</div>

<script src="/js/newpostlink.js"></script>

{{!-- <div class="container">
    <div class="row">
        <div class="col-6" id="blog-post-card">
            <p>{{title}}</p>
        </div>
        <div class="col-6" id="blog-post-card-post">
            <p>posted by {{User.username}} on {{date}}</p>
        </div>
        <div class="col-12" id="blog-post-content">
            {{content}}
        </div>
    </div>
</div> --}}